aiohttp
https://github.com/Armored-Dragon/discord.py/archive/master.zip#egg=discord.py[voice]
youtube_dl
async_timeout
pickledb
gTTS-token
bs4
future
asteval
cchardet
ujson
psutil
cozmo[camera]
pillow
